mixin sNetworkingRules()
	// start sNetworkingRules
	+b.sNetworkingRules.section#sNetworkingRules&attributes(attributes)
		.container
			.row
				+e.col.col-md-4
					+e.item Чаты <br> по <br> интересам
				+e.col.col-md-4
					+e.item Персональный чат
				+e.col.col-md-4
					+e.item Задать <br> вопрос <br> спикеру

				h3 Правила пользования
				p Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах, которое не&nbsp;получается при простой дубликации &laquo;Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст..&raquo; Многие программы электронной вёрстки и&nbsp;редакторы HTML используют Lorem Ipsum в&nbsp;качестве текста по&nbsp;умолчанию, так что поиск по&nbsp;ключевым словам &laquo;lorem ipsum&raquo; сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За&nbsp;прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по&nbsp;ошибке, некоторые&nbsp;&mdash; намеренно (например, юмористические варианты).

				ul
					li Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый 
					li текст мешает сосредоточиться. Lorem Ipsum используют потому, 
					li что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение букв и&nbsp;пробелов в&nbsp;абзацах, которое не 
					li получается при простой дубликации &laquo;Здесь ваш текст.. Здесь ваш текст.. 
					li Здесь ваш текст..&raquo; Многие программы электронной вёрстки и&nbsp;редакторы HTML используют 
					li Lorem Ipsum в&nbsp;качестве текста по&nbsp;умолчанию, так что поиск по&nbsp;ключевым словам &laquo;lorem ipsum&raquo; сразу показывает,

				





	// end sNetworkingRules