mixin sCabinet()
	// start sCabinet
	+b.sCabinet&attributes(attributes)
		.container
			.row.row--lg
				.col-xl-3
					+e.aside
						+pic("teamPers-4",'bg',0)
						div
							.fw-900.pb-2.ttu Виктор Моршанский
							.small.opacity-05.pb-2 Управляющий партнер
								br
								| ООО “Моршанский банк”
							.small.opacity-05.strong Участник
				.col
					+e.main
						+e.main-head
							.row
								.col 
									.h5 Общая  информация
								.col-auto
									+e.edit-btn(href="#") 
										+icon("eva_edit-fill")
										| Редактировать
						mixin line(t, d, te)  
							+e.input-wrap.form-group 
								+b.input-title= t
								+e.input.form-control= d 
						+line("Email",'chertilov+11@raec.ru')
						+line("Контактный телефон",'+7 985 668 99 88')
						+line("Компания",'РУВЕНТС')
						+line("Должность",'Директор направления')
						+line("Отрасль",'EVENTS')
						+line("Сфера деятельности",'Управление')
						+line("Страна проживания",'Россия')
						+line("О себе",'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тотДавно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот Давно выяснено, что при оценке дизайна и композиции читаемый ','te')

	// end sCabinet