	// start .sSpeakers
.sSpeakers {
		 

	.section-title{
		color: $primary;
	}

	// &__col{
	// 	margin-bottom: 36px;
	// }

	&__item{
		margin-bottom: 36px;
		margin-right: 42px;
	}

	&__img-wrap{
		display: block;
		margin-bottom: 21px;
		img{
			border-radius: 20px;
			max-width: 156px;
			// height: auto;
		}
	}

	&__title{
		font-weight: 900;
		line-height: (20 / 16);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 13px;
		a{
			color: $body-color;
		}
	}

	&__text{
		font-size: $small;
		line-height: (20 / 14);
		opacity: 0.5;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}

} // end.sSpeakers