extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sPerson/_sPerson.pug
include ../blocks/sNetworkingRules/_sNetworkingRules.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Networking / Чаты по интересам/ Чат'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+top-nav()
	+page-title(title)

	+sNetworkingRules11()
	+sContact
	+footer()


	