include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('arrow-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('arrow-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin page-title(t)
	.container
		+b.page-title
			.row
				.col-auto
					+e.link(href="#")
						+icon("arrow-back")
				.col
					h1= t

mixin reg(b="Зарегистрироваться")
	+b.form-wrap(class="form-wrap--border")
			form(action='/file-upload'  enctype="multipart/form-data")
				//- .dropzone(action='/file-upload'  enctype="multipart/form-data")
				.row
					.col-lg-6
						+input("",'text','Фамилия')
					.col-lg-6
						+input("",'text','Имя')
					.col-lg-6
						+input("",'email','Электронный адрес')
					.col-lg-6
						+input("",'tel','Телефон')
					.col-lg-6
						+input("",'text','Город ')
					.col-lg-6
						+input("",'text','Компания')
					.col-lg-6
						+input("",'text','Должность')
						+input("",'text','Пароль')
						+input("",'text','Повторите пароль')
					.col-lg-6
						label.dropzone-wrapper.d-block
							+b.dropzone(action='/file-upload')
								#dropzone
									+e.prev-wrap
										+icon("photo")
										span.strong Ваше фото
										+e.text  Формат&nbsp;3:4, jpeg, jpg png не&nbsp;более 1&nbsp;mb
										
									.fallback
										input(name='file', type='file', multiple='')
							+e.file Выбрать фото
					.col-lg-6.mb-4
						button.btn.btn-primary.w-100(type="submit")= b
					.col-lg-6
						+in-c()
							+e.SPAN.text Я&nbsp;даю согласие на&nbsp;#[a(href="#") обработку персональных данных] и получение информационных сообщений от&nbsp;компании СКБ Контур
			
						+in-c()
							+e.SPAN.text Я&nbsp;принимаю условия #[a(href="#") договора на&nbsp;оказание услуг по&nbsp;проведению семинаров/вебинаров]