mixin sMember()
	// start sMember
	+b.sMember&attributes(attributes)
		.container 
			+e.caption
				+pic("teamPers-6.jpg",'bg')
				+e.head
					.row
						.col-lg.col-md-auto.pb-3
							.small
								.strong Внешторгбанк
								| г. Александровск
						.col.pb-3.opacity-05.smallest Руководитель Дирекции новых цифровых сервисов Департамента цифрового корпоративного бизнеса
				p Андрей Алексахин, руководитель Дирекции новых цифровых сервисов Департамента цифрового корпоративного бизнеса ВТБ. С&nbsp;2019 внедряет новые продукты, технологии и&nbsp;инновации для малого бизнеса и&nbsp;самозанятых, совмещает с&nbsp;позицией генерального директора в&nbsp;дочерней компании банка. Ранее в&nbsp;течение 10&nbsp;лет работал банках ВТБ24, Открытие, Альфабанк, Газпромбанк, где развивал направления интернет и&nbsp;мобильного банкинга, электронной коммерции и&nbsp;банковских продуктов для предпринимателей. Кандидат экономических наук по&nbsp;специальности Финансы и&nbsp;кредит.
			h3.text-primary Участник сессий
			+b.panel-block
				.row
					+e.time.col-md-auto.col 09:45 – 10:45
					.col-auto.order-md-last
						+e.star 
							+icon('star')
					.col-md.fw-500 Распределенная продажа: предпосылки и перспективы
			+b.panel-block
				.row
					+e.time.col-md-auto.col 09:45 – 10:45
					.col-auto.order-md-last
						+e.star.active
							+icon('star')
					.col-md.fw-500 Распределенная продажа: предпосылки и перспективы
	// end sMember