//- pugination
mixin pugin()
	.pagination-wrapper
		ul.page-numbers
			mixin li(n)
				li
					if n
						a.page-numbers(href='#')= n 
					else
						block
			+li()
				span.prev.page-numbers( )
					+icon('arrow-left')
		 
			+li()
				span.page-numbers.current  1
			- for (var x = 2; x < 4; x++)
				+li(x)
			+li()
				a.next.page-numbers(href='#')
					+icon('arrow-right')